.Estilo2 {
    font-size: 12px
}

.Estilo3 {
    color: #CCCCCC
}

.Estilo9 {
    color: #FFFFFF
}

.Estilo10 {
    color: #CBC8C5
}

.Estilo11 {
    color: #CCCCCC;
    font-size: 14px;
}

.Estilo12 {
    font-size: 14px
}

.Estilo14 {
    color: #666666
}